<form class="form-container" (ngSubmit)= "onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Add text" class="input"/>
    </div>

    <div class="form-control">
        <label for="date">Date</label>
        <input type="text" name="date" [(ngModel)]="date" id="date" placeholder="Add date" class="input"/>
    </div>

    <div class="form-control">
        <label for="time">Time</label>
        <input type="text" name="time" [(ngModel)]="time" id="time" placeholder="Add time" class="input"/>
    </div>

    <div class="reminder">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
    </div>

    <div class="form-control">
    <input type="submit" value="Save Task" class="button"  />
    </div>
</form>